<!--model creating examples-->
<!--https://github.com/dougludlow/ng2-bs3-modal-->
<div class="row addressRow">
    <div class="col-lg-4 col-md-4 col-sm-4"></div>
    <div class="col-lg-4 col-md-4 col-sm-4">
        <select class="form-control" (change)="onEmailChanged($event)">
            <option *ngFor="let client_email of client_emails" [innerHTML] = "client_email"></option>
        </select>
        <!--<a href="#"> {{clientAddress}}  <span class="badge">{{incomingMails?.length}} </span></a>-->
    </div>
</div>
<div class="row messegeRow">
    <div class="col-md-1 col-lg-1 col-sm-1"></div>
    <div class="col-md-10 col-lg-10 col-sm-10">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default" *ngFor="let incomingMail of incomingMails">
            <div class="panel-heading" role="tab" attr.id="heading_{{incomingMail.id}}">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" attr.href="#collapse_{{incomingMail.id}}" aria-expanded="false" attr.aria-controls="collapse_{{incomingMail.id}}">
                        {{incomingMail.topic}}
                    </a>
                </h4>
            </div>
            <div attr.id="collapse_{{incomingMail.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body" [innerHTML] =  "incomingMail.body"></div>
            </div>
        </div>
    </div>
    </div>
</div>
<div class="row sendButtonRow">
    <div class="col-md-1 col-lg-1 col-sm-1"></div>
    <div class="col-md-10 col-lg-10 col-sm-10">
        <button type="button" class="btn btn-primary" (click)="modal.open()">Send New Email</button>
    </div>
</div>
<modal #modal>
    <modal-header [show-close]="true">
        <h4 class="modal-title">Send new Email to <i>{{clientAddress}}</i>  </h4>
    </modal-header>
    <modal-body>
        <form (ngSubmit)="onSubmit()" #mailForm="ngForm">
            <div class="form-group">
                <label for="emailTitle">Title</label>
                <input type="text" class="form-control" id="emailTitle" placeholder="Title" name="title"
                       required [(ngModel)]="model.title">
            </div>
            <div class="form-group">
                <label for="emailBody">Body</label>
                <textarea class="form-control" rows="3" id="emailBody" placeholder="Message" name="body"
                          required [(ngModel)]="model.body"></textarea>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!mailForm.form.valid" (click)="modal.close()"> Send </button>
        </form>
    </modal-body>
</modal>

