<div class="row">
    <table class="table" *ngIf="!noPurchases">
        <colgroup>
            <col span="1" style="width: 15%;">
            <col span="1" style="width: 15%;">
            <col span="1" style="width: 15%;">
            <col span="1" style="width: 15%;">
            <col span="1" style="width: 15%;">
            <col span="1" style="width: 15%;">
        </colgroup>
        <thead>
        <tr>
            <th>Branch</th>
            <th>Product</th>
            <th>Installation</th>
            <th>Till Name</th>
            <th>Client</th>
            <th>Expire Date</th>
        </tr>
        </thead>
        <tr *ngFor="let purchasedItem of purchasedList"  [ngClass]="{expired : isExpired(purchasedItem.expiredate)}">
            <!--[style.color]="getStyle()"-->
            <td>{{purchasedItem.location}}</td>
            <td>{{purchasedItem.name}}</td>
            <td>{{purchasedItem.loggedTime | date:'mediumDate'}}  </td>
            <td>{{purchasedItem.till_name}}</td>
            <td *ngIf="!inDashboardView"><a routerLink="../../clients/{{purchasedItem.client_id}}">{{purchasedItem.company_name}}</a></td>
            <td *ngIf="inDashboardView"><a routerLink="../clients/{{purchasedItem.client_id}}">{{purchasedItem.company_name}}</a></td>

            <td>{{purchasedItem.expiredate |  date:'mediumDate'}}</td>
            <!--<td>{{purchasedItem.till_key}}</td>-->

        </tr>
    </table>

    <div *ngIf="noPurchases" class="col-xs-12">
        <h4 style="text-align: center">No Tills For Selected Filters</h4>
    </div>
</div>