<html>
<head>
    <base href="/">
    <title>VinIT CRM</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="/images/favicon.ico" />

      <!-- CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/material-dashboard.css" rel="stylesheet"/>

    <!-- Fonts & Icon -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>
</head>

<body>
<my-app>Loading...</my-app>

<!--   Core JS Files   -->
<script src="/js/jquery-3.1.0.min.js" type="text/javascript"></script>
<script src="/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/js/material.min.js" type="text/javascript"></script>
<script src="/js/script.js"></script>

<!-- Material Dashboard javascript methods -->
<script src="/js/material-dashboard.js"></script>

</body>
</html>
