
.form-container{
    margin: 50px 30px;
    width: 95%;
    padding: 10px;
}

.form-container .btn-primary{
    margin-left: 15px;
}

.notification{
    width: 60%;
    position: absolute;
    top: 25%;
    left: 20%;
    z-index: 10;
}