<div class="col-xs-12 card">
    <div class="card">
        <div class="card-header" data-background-color="purple">
            <h4 class="title">Developers</h4>
            <p class="category">Active users</p>
        </div>
        <div class="card-content table-responsive">
            <table class="table">
                <thead class="text-primary">
                <tr>
                    <th>Name</th>
                    <th>Company Id</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let developer of developers" [ngClass]="{'blocked': developer.blocked == 1}">
                    <td>{{developer.name}}</td>
                    <td>{{developer.company_id}}</td>
                    <td *ngIf="developer.blocked == 1">blocked</td>
                    <td *ngIf="developer.blocked == 0">active</td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>

</div>