<!--<div class="col-md-offset-3 col-md-6 col-sm-6 col-xs-6">-->
<div class="col-md-6 col-sm-6 col-xs-12">
    <div class="card form-container">

        <form #blockUserForm="ngForm" (ngSubmit)="onSubmit(blockUserForm.value)">
            <!--user-->
            <div class="form-group">
                <label for="roles">Role</label>
                <select class="form-control" id="roles" name="role" ngModel (change)="onRoleSelect($event.target.value)"
                        [(ngModel)]="selectedRole">
                    <option *ngFor="let role of roles" [value]="role.value">{{role.option}}</option>
                </select>
            </div>
            <!--name-->
            <div class="form-group">
                <label for="name">Name</label>
                <select class="form-control" id="name" name="name" ngModel [(ngModel)]="name">
                    <option *ngFor="let user of users" [value]="user.name">{{user.name}}</option>
                </select>
            </div>
            <!--submit-->
            <button type="submit" class="btn btn-danger">Block</button>
        </form>
    </div>
</div>
<div class="col-md-6 col-xs-12">
    <all-developers *ngIf="selectedRole == 'developers'" [developers]="developers"></all-developers>
    <all-operators *ngIf="selectedRole == 'operators'" [operators]="operators"></all-operators>
    <all-developers *ngIf="selectedRole != 'developers' && selectedRole != 'operators'" [developers]="developers"></all-developers>
    <all-operators *ngIf="selectedRole != 'developers' && selectedRole != 'operators'" [operators]="operators"></all-operators>
</div>
