.sidebar .logo, .off-canvas-sidebar .logo {
    padding: 5px 15px;
}

.sidebar .nav, .off-canvas-sidebar .nav {
    margin-top: 10px;
}

.logged-in-user{
    margin-top: 10px;
    /* width: 100%; */
    text-align: center;
}

.logged-in-user>i{
    color: #9C27B0;
}

.logged-in-user>span{
    display: block;
    /* margin-top: 5px; */
    /* margin-left: 5px; */
    text-transform: capitalize;
}