.form-container{
    margin: 10% 20%;
    border: 2px solid blueviolet;
    border-radius: 10px;
    padding: 20px;
}

.form-container .btn{
    margin-top: 30px;
}

.tick{
    color: green;
}

.cross{
    color: red;
}

.hide{
    display: none;
}