<sidenavbar></sidenavbar>

<div class="main-panel">
    <!--<navbarheader></navbarheader>-->
    <clientsheader></clientsheader>



    <div class="form-container">
        <form #clientForm="ngForm" (ngSubmit)="onSubmit(clientForm.value)">
            <div class="col-md-6">
                <!--company-->
                <div class="form-group">
                    <label for="company">Company</label>
                    <input type="text" class="form-control" id="company" name="company" ngModel required>
                </div>
                <!--contact person-->
                <div class="form-group">
                    <label for="contactPerson">Contact Person</label>
                    <input type="text" class="form-control" id="contactPerson" name="contactPerson" ngModel required>
                </div>
                <!--website-->
                <div class="form-group">
                    <label for="website">Web Site</label>
                    <input type="text" class="form-control" id="website" name="website" ngModel required>
                </div>
                <!--status-->
                <div class="form-group">
                    <label for="status">Status</label>
                    <select class="form-control" id="status" required>
                        <option *ngFor="let state of states" [value]="state">{{state}}</option>
                    </select>
                </div>
                <!--country-->
                <div class="form-group">
                    <label for="country">Country</label>
                    <select class="form-control" id="country" required>
                        <option *ngFor="let country of countries" [value]="country.name">{{country.name}}</option>
                    </select>
                </div>
                <!--MLR Number-->
                <div class="form-group">
                    <label for="mlr">MLR Number</label>
                    <input type="number" class="form-control" id="mlr" name="mlr" ngModel required>
                </div>
                <!--business registration-->
                <div class="form-group">
                    <label for="bus-registration">Business Registration</label>
                    <input type="text" class="form-control" id="bus-registration" name="businessRegistration" ngModel required>
                </div>
            </div>
            <div class="col-md-6">
                <!--email-->
                <div class="form-group">
                    <label for="email">
                        Email
                        <span class="tags" *ngFor="let mail of emails">{{mail}}</span>
                    </label>
                    <div class="tag-input-container">
                        <input type="email" class="form-control" id="email" name="email" ngModel required>
                        <button type="button" class="btn btn-default add-more" (click)="onAddEmail(clientForm.value.email)">
                            <i class="material-icons">add</i>
                        </button>
                    </div>
                </div>
                <!--phone-->
                <div class="form-group">
                    <label for="phone">
                        Phone
                        <span class="tags" *ngFor="let phone of phones">{{phone}}</span>
                    </label>
                    <div class="tag-input-container">
                        <input type="text" class="form-control" id="phone" name="phone" ngModel required>
                        <button type="button" class="btn btn-default add-more" (click)="onAddPhone(clientForm.value.phone)">
                            <i class="material-icons">add</i>
                        </button>
                    </div>
                </div>
                <!--fax-->
                <div class="form-group">
                    <label for="fax">
                        Fax
                        <span class="tags" *ngFor="let fax of faxes">{{fax}}</span>
                    </label>
                    <div class="tag-input-container">
                        <input type="text" class="form-control" id="fax" name="fax" ngModel required>
                        <button type="button" class="btn btn-default add-more" (click)="onAddFax(clientForm.value.fax)">
                            <i class="material-icons">add</i>
                        </button>
                    </div>
                </div>
                <!--address-->
                <div class="form-group">
                    <label for="address">Address</label>
                    <input type="text" class="form-control" id="address" name="address" ngModel required>
                </div>
                <!--town-->
                <div class="form-group">
                    <label for="town">Town</label>
                    <input type="text" class="form-control" id="town" name="town" ngModel required>
                </div>
                <!--postal code-->
                <div class="form-group">
                    <label for="postalCode">Postal Code</label>
                    <input type="number" class="form-control" id="postalCode" name="postalCode" ngModel required>
                </div>
                <!--Logo-->
                <div class="form-group is-empty is-fileinput">
                    <label for="logo">Logo</label>
                    <input type="file" class="form-control" id="logo" name="logo" ngModel required accept="image/png,,image/jpeg">
                    <input type="text" readonly="" class="form-control">
                </div>
            </div>
            <!--submit-->
            <button type="submit" class="btn btn-default">Add</button>
        </form>
    </div>
</div>

<!--company name
contact person name
business registration
MLR number
website
phone (multiple)
email (multiple)
fax (multiple)
address
country
town
postal code
logo png,jpg
status

-->