<div class="form-container">
    <form #clientForm="ngForm" (ngSubmit)="onSubmit(clientForm.value)">
        <div class="col-md-6">
            <!--company-->
            <div class="form-group">
                <label for="company">Company</label>
                <input type="text" class="form-control" id="company" name="company" [(ngModel)]="company" >
            </div>
            <!--contact person-->
            <div class="form-group">
                <label for="contactPerson">Contact Person</label>
                <input type="text" class="form-control" id="contactPerson" name="contactPerson" [(ngModel)]="contactPerson" >
            </div>
            <!--website-->
            <div class="form-group">
                <label for="website">Web Site</label>
                <input type="text" class="form-control" id="website" name="website" [(ngModel)]="website" >
            </div>
            <!--status-->
            <div class="form-group">
                <label for="status">Status</label>
                <select class="form-control" id="status" name="status" [(ngModel)]="status">
                    <option *ngFor="let state of states" [value]="state">{{state}}</option>
                </select>
            </div>
            <!--country-->
            <div class="form-group">
                <label for="country">Country</label>
                <select class="form-control" id="country" name="country" [(ngModel)]="country">
                    <option *ngFor="let country of countries" [value]="country.name">{{country.name}}</option>
                </select>
            </div>
            <!--MLR Number-->
            <div class="form-group">
                <label for="mlr">MLR Number</label>
                <input type="text" class="form-control" id="mlr" name="mlr" [(ngModel)]="mlr" >
            </div>
            <!--business registration-->
            <div class="form-group">
                <label for="bus-registration">Business Registration</label>
                <input type="text" class="form-control" id="bus-registration" name="businessRegistration" [(ngModel)]="businessRegistration" >
            </div>
        </div>
        <div class="col-md-6">
            <!--email-->
            <div class="form-group">
                <label for="email">
                    Email
                </label>
                <div class="tag-container">
                    <div class="tags" *ngFor="let mail of emails">
                        {{mail}}
                        <i class="material-icons" (click)="onRemoveEmail(mail)">close</i></div>
                </div>
                <div class="tag-input-container">
                    <input #emailInput type="email" class="form-control" id="email" name="email" ngModel >
                    <button type="button" class="btn btn-default add-more" (click)="onAddEmail(clientForm.value.email)">
                        <i class="material-icons">add</i>
                    </button>
                </div>
            </div>
            <!--phone-->
            <div class="form-group">
                <label for="phone">
                    Phone
                </label>
                <div class="tag-container">
                    <div class="tags" *ngFor="let phone of phones">
                        {{phone}}
                        <i class="material-icons" (click)="onRemovePhone(phone)">close</i></div>
                </div>
                <div class="tag-input-container">
                    <input #phoneInput type="text" class="form-control" id="phone" name="phone" ngModel >
                    <button type="button" class="btn btn-default add-more" (click)="onAddPhone(clientForm.value.phone)">
                        <i class="material-icons">add</i>
                    </button>
                </div>
            </div>
            <!--fax-->
            <div class="form-group">
                <label for="fax">
                    Fax
                </label>
                <div class="tag-container">
                    <div class="tags" *ngFor="let fax of faxes">
                        {{fax}}
                        <i class="material-icons" (click)="onRemoveFax(fax)">close</i></div>
                </div>
                <div class="tag-input-container">
                    <input #faxInput type="text" class="form-control" id="fax" name="fax" ngModel >
                    <button type="button" class="btn btn-default add-more" (click)="onAddFax(clientForm.value.fax)">
                        <i class="material-icons">add</i>
                    </button>
                </div>
            </div>
            <!--address-->
            <div class="form-group">
                <label for="address">Address</label>
                <input type="text" class="form-control" id="address" name="address" [(ngModel)]="address" >
            </div>
            <!--town-->
            <div class="form-group">
                <label for="town">Town</label>
                <input type="text" class="form-control" id="town" name="town" [(ngModel)]="town" >
            </div>
            <!--postal code-->
            <div class="form-group">
                <label for="postalCode">Postal Code</label>
                <input type="number" class="form-control" id="postalCode" name="postalCode" [(ngModel)]="postalCode" >
            </div>
            <!--Logo-->
            <div class="form-group is-empty is-fileinput">
                <label for="logo">Logo</label>
                <input type="file" class="form-control" id="logo" name="logo" ngModel  accept="image/png,,image/jpeg" (change)="addLogo($event)">
                <input type="text" readonly="" name="logoName" class="form-control">
            </div>
        </div>
        <!--submit-->
        <button type="submit" class="btn btn-primary">{{submitBtnText}}</button>
    </form>
</div>

<!--company name
contact person name
business registration
MLR number
website
phone (multiple)
email (multiple)
fax (multiple)
address
country
town
postal code
logo png,jpg
status

-->