@import "../../../../../public/css/variables.css";

.form-container{
    margin: 50px 30px;
    width: 95%;
    padding: 10px;
}

.form-container .btn-primary{
    margin-left: 15px;
}

.tag-container {
    display: inline;
}

.tags{
    display: inline-flex;
    color: white;
    margin: -5px -20px 8px 25px;
    border-radius: 30px;
    background: rgba(140, 45, 175, 0.58);
    padding: 5px 10px;
}

.tags  > i{
    display: inline;
    margin: 0 -5px 0 10px;
    border: 2px solid white;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 700;
}

.tag-input-container{
    display: flex;
}
.tag-input-container > input{
    display: inline;
    width: 70%;
}
.tag-input-container .add-more{
    padding: 12px;
    display: inline;
    margin: -5px 0 0 35px;
    border-radius: 30px;
    width: 40px;
    height: 40px;
    background: #962DAF;
    border-color: transparent;
}
.add-more:focus{
    outline: none;
}

.add-more>i{
    font-size: 24px;
    left: -4px;
    top: -3px;

}

.logo-input-container{

}

.logo-input-container label{
    display: block;
}

.logo-input-container .logo-name{
    display: inline-flex;
    width: 50%;
}

.logo-input-container .logo-preview{
    width: 150px;
    height: auto;
    display: inline-flex;
    margin-top: -60px;
    margin-left: 20px;
    border: 2px dashed #962DAF;
}