<div class="col-lg-6 col-md-6 col-xs-12 border">

    <div class="card card-nav-tabs">
        <div class="card-header" data-background-color="orange">
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">

                    <ul class="nav nav-tabs" data-tabs="tabs">
                        <li class="active">
                            <a data-toggle="tab" href="#history" aria-expanded="true">
                                <i class="material-icons">history</i>
                                History
                                <div class="ripple-container"></div></a>
                        </li>

                        <li >
                            <a  aria-expanded="true" (click)="loadAllHistory();allHistory.open()" style="cursor: pointer">
                                <i class="material-icons">list</i>
                                Show all <!--({{clientHistory.length}})-->

                                <div class="ripple-container"></div></a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>

        <div class="card-content">
            <div class="tab-content">
                <div class="tab-pane active" id="history">
                    <table class="table">
                        <tbody>
                        <tr *ngIf="noHistory">
                            <h2 style="text-align: center">No History With This Client</h2>
                        </tr>
                        <tr *ngFor="let history of clientHistory">

                            <td *ngIf="history.type == 'note'" style="width: 100%">
                                 <!--<tr *ngIf="history.type == 'note'">note</tr>-->
                                <tr class="subject">
                                    <small>{{history.loggedDate}}</small>  : {{history.subject}}
                                </tr>
                                <tr class="col-xs-12" style="font-size: smaller">
                                    {{history.content}}
                                </tr>

                                <tr>
                                    <small> Note added at :{{history.loggedTime }} </small>
                                </tr>

                            </td>

                        <td *ngIf="history.type == 'till add'">
                            <tr class="subject"><small>  {{history.loggedDate}} </small> : {{history.subject}} </tr>
                            <tr class="col-xs-12" style="font-size: smaller">Branch : {{history.branchName}}</tr>
                            <tr class="col-xs-12" style="font-size: smaller">Product : {{history.productName}}</tr>
                            <tr class="col-xs-12" style="font-size: smaller">Expire date : {{history.expireDate}}</tr>

                        </td>

                        <td *ngIf="history.type == 'blocked'">
                            <tr class="subject" style="color: red"><small >  {{history.loggedDate}} </small> : {{history.subject}} </tr>
                            <tr class="col-xs-12" style="font-size: smaller"> {{history.content}}</tr>
                            <tr><small> Client blocked at :{{history.loggedTime }} </small> </tr>

                        </td>

                        <td *ngIf="history.type == 'unblocked'">
                            <tr class="subject" style="color: green"><small >  {{history.loggedDate}} </small> : {{history.subject}} </tr>
                            <tr class="col-xs-12" style="font-size: smaller"> {{history.content}}</tr>
                            <tr><small> Client unblocked at :{{history.loggedTime }} </small> </tr>

                        </td>

                        <td *ngIf="history.type == 'branch-added'">
                            <tr class="subject" style="color: green"><small >  {{history.loggedDate}} </small> : {{history.subject}} </tr>
                            <tr class="col-xs-12" style="font-size: smaller"> branch {{history.branchName}} added to client : {{client.company_name}} </tr>
                            <tr><small> Branch added at :{{history.loggedTime }} </small> </tr>

                        </td>

                        <td *ngIf="history.type == 'branch-removed'">
                            <tr class="subject" style="color: red"><small >  {{history.loggedDate}} </small> : {{history.subject}} </tr>
                            <tr class="col-xs-12" style="font-size: smaller"> branch {{history.branchName}} removed from client : {{client.company_name}} </tr>
                            <tr><small> Branch removed at :{{history.loggedTime }} </small> </tr>

                        </td>

                        <td *ngIf="history.type == 'product-added'">
                            <tr class="subject" style="color: green"><small >  {{history.loggedDate}} </small> : {{history.subject}} </tr>
                            <tr class="col-xs-12" style="font-size: smaller"> product {{history.productName}} added to client : {{client.company_name}} </tr>
                            <tr><small> Product added at :{{history.loggedTime }} </small> </tr>

                        </td>

                        <td *ngIf="history.type == 'product-removed'">
                            <tr class="subject" style="color: red"><small >  {{history.loggedDate}} </small> : {{history.subject}} </tr>
                            <tr class="col-xs-12" style="font-size: smaller"> branch {{history.productName}} removed from client : {{client.company_name}} </tr>
                            <tr><small> Product removed at :{{history.loggedTime }} </small> </tr>

                        </td>

                        <td *ngIf="history.type == 'call'">
                            <tr class="subject" style="color: darkblue">
                                <small>{{history.loggedDate}}</small>  : {{history.subject}}
                            </tr>
                            <tr class="col-xs-12" style="font-size: smaller">
                                {{history.content}}
                            </tr>

                            <tr>
                                <small> Call added at :{{history.loggedTime }} </small>
                            </tr>

                        </td>

                        <td *ngIf="history.type == 'ticket'" style="width: 100%">
                            <!--<tr *ngIf="history.type == 'note'">note</tr>-->
                            <tr class="subject">
                                <small>{{history.loggedDate}}</small>  : {{history.subject}} <a routerLink="../../../tickets/{{history.id}}">TKT #{{history.id}}</a>

                            </tr>
                            <tr class="col-xs-12" style="font-size: smaller">
                                {{history.content}}
                            </tr>

                            <tr>
                                <small> Ticket created at :{{history.loggedTime }} </small>
                            </tr>

                        </td>


                        </tr>


                        </tbody>


                    </table>
                </div>


            </div>
        </div>
    </div>
</div>

<modal #allHistory style="background-color: rgba(142, 157, 166, 0.39);">
    <modal-header [show-close]="true">
        <h4 class="modal-title"><b>History of {{client.company_name}}</b>

        </h4>

        <hr>
    </modal-header>
    <modal-body>
        <div class="row">
            <div class="col-xs-12">
                <table class="table">
                    <tbody>
                    <tr *ngIf="noHistory">
                        <h2 style="text-align: center">No History With This Client</h2>
                    </tr>
                    <tr *ngFor="let history of allHistoryData">

                        <td *ngIf="history.type == 'note'" style="width: 100%">
                            <!--<tr *ngIf="history.type == 'note'">note</tr>-->
                    <tr class="subject">
                        <small>{{history.loggedDate}}</small>  : {{history.subject}}
                    </tr>
                    <tr class="col-xs-12" style="font-size: smaller">
                        {{history.content}}
                    </tr>

                    <tr>
                        <small> Note added at :{{history.loggedTime }} </small>
                    </tr>

                    </td>

                    <td *ngIf="history.type == 'till add'">
                        <tr class="subject"><small>  {{history.loggedDate}} </small> : {{history.subject}} </tr>
                        <tr class="col-xs-12" style="font-size: smaller">Branch : {{history.branchName}}</tr>
                        <tr class="col-xs-12" style="font-size: smaller">Product : {{history.productName}}</tr>
                        <tr class="col-xs-12" style="font-size: smaller">Expire date : {{history.expireDate}}</tr>

                    </td>

                    <td *ngIf="history.type == 'blocked'">
                        <tr class="subject" style="color: red"><small >  {{history.loggedDate}} </small> : {{history.subject}} </tr>
                        <tr class="col-xs-12" style="font-size: smaller"> {{history.content}}</tr>
                        <tr><small> Client blocked at :{{history.loggedTime }} </small> </tr>

                    </td>

                    <td *ngIf="history.type == 'unblocked'">
                        <tr class="subject" style="color: green"><small >  {{history.loggedDate}} </small> : {{history.subject}} </tr>
                        <tr class="col-xs-12" style="font-size: smaller"> {{history.content}}</tr>
                        <tr><small> Client unblocked at :{{history.loggedTime }} </small> </tr>

                    </td>

                    <td *ngIf="history.type == 'branch-added'">
                        <tr class="subject" style="color: green"><small >  {{history.loggedDate}} </small> : {{history.subject}} </tr>
                        <tr class="col-xs-12" style="font-size: smaller"> branch {{history.branchName}} added to client : {{client.company_name}} </tr>
                        <tr><small> Branch added at :{{history.loggedTime }} </small> </tr>

                    </td>

                    <td *ngIf="history.type == 'branch-removed'">
                        <tr class="subject" style="color: red"><small >  {{history.loggedDate}} </small> : {{history.subject}} </tr>
                        <tr class="col-xs-12" style="font-size: smaller"> branch {{history.branchName}} removed from client : {{client.company_name}} </tr>
                        <tr><small> Branch removed at :{{history.loggedTime }} </small> </tr>

                    </td>

                    <td *ngIf="history.type == 'product-added'">
                        <tr class="subject" style="color: green"><small >  {{history.loggedDate}} </small> : {{history.subject}} </tr>
                        <tr class="col-xs-12" style="font-size: smaller"> product {{history.productName}} added to client : {{client.company_name}} </tr>
                        <tr><small> Product added at :{{history.loggedTime }} </small> </tr>

                    </td>

                    <td *ngIf="history.type == 'product-removed'">
                        <tr class="subject" style="color: red"><small >  {{history.loggedDate}} </small> : {{history.subject}} </tr>
                        <tr class="col-xs-12" style="font-size: smaller"> branch {{history.productName}} removed from client : {{client.company_name}} </tr>
                        <tr><small> Product removed at :{{history.loggedTime }} </small> </tr>

                    </td>

                    <td *ngIf="history.type == 'call'">
                        <tr class="subject" style="color: darkblue">
                            <small>{{history.loggedDate}}</small>  : {{history.subject}}
                        </tr>
                        <tr class="col-xs-12" style="font-size: smaller">
                            {{history.content}}
                        </tr>

                        <tr>
                            <small> Call added at :{{history.loggedTime }} </small>
                        </tr>

                    </td>

                    <td *ngIf="history.type == 'ticket'" style="width: 100%">
                        <!--<tr *ngIf="history.type == 'note'">note</tr>-->
                        <tr class="subject">
                            <small>{{history.loggedDate}}</small>  : {{history.subject}} <a routerLink="../../../tickets/{{history.id}}">TKT #{{history.id}}</a>

                        </tr>
                        <tr class="col-xs-12" style="font-size: smaller">
                            {{history.content}}
                        </tr>

                        <tr>
                            <small> Ticket created at :{{history.loggedTime }} </small>
                        </tr>

                    </td>


                    </tr>


                    </tbody>


                </table>
            </div>
        </div>


    </modal-body>
</modal>
