.status{
    display: inline-flex;
    color: white;
    margin: 5px 0 8px 5px;
    border-radius: 30px;
    /*background: rgba(140, 45, 175, 0.58);*/
    padding: 5px 10px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
}

.edit-button{
    display: inline-flex;
    color: white;
    margin: 5px 0 8px 5px;
    background: rgba(140, 45, 175, 0.58);
    padding: 5px 10px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
}

.header-title{
    display: inline-flex;
    color: white;
    padding: 5px 10px;
    font-size: 20px;
    font-weight: 700;
}

.header-title-date{

    display: inline-flex;
    color: white;
    padding: 5px 10px;
    font-size: 20px;
    float: right;
    padding-top: 12px;
}

.priority-red{
    background: rgba(255, 0, 0, 0.67);
}
.priority-green{
    background: #19a219;
}
.priority-yellow{
    background: #ff9900;
}

.problem-red{
    background: rgba(255, 0, 0, 0.67);
}
.problem-yellow{
    background: #ff9900;
}

.status-red{
    background: rgb(49, 112, 143);
}
.status-yellow{
    background: #beff0a;
}
.status-orange{
    background: #ff9900;
}
.status-green{
    background: #19a219;
}

.ticket-comments-container{
    border-top: 2px solid rgba(128, 0, 128, 0.68);
}



.open{background:#2ecc71}
.in_progress{background: #f1c40f}
.to_be_discussed{
    background: #9c3427;
}
.Reopen{background: #43b0c5
}
.cant_reproduced{background: #ff5d09
}
.duplicate{background: #C0392B;
    color: white;
}
.fixed{background: #3A539B;
    color: white;
}
.bug{
    background: #e74c3c
}
.other{
    background: #f1c40f
}

.status-btn{
    border-radius: 0 !important;
}

.ticket-comments-container{
    border-top: 2px solid rgba(128, 0, 128, 0.68);
}

.swimlane-status{border-radius: 4px;  padding: 0px 10px 3px 10px; color: white; text-align: center;}

.ticket-summary:hover{background-color: #e8e8e8; cursor: pointer}

.change-button{border-radius: 4px;  padding: 0px 10px 3px 10px; color: white; background-color: #3b5998; cursor: pointer }