<span class="nav-tabs-title">Active Tickets By priority:</span>
<div class="card card-nav-tabs">
    <div class="card-header" data-background-color="orange">
        <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">

                <ul class="nav nav-tabs" data-tabs="tabs">
                    <li class="active">
                        <a href="#high" data-toggle="tab">
                            <i class="material-icons">priority_high</i>
                            High
                            <div class="ripple-container"></div></a>
                    </li>
                    <li class="">
                        <a href="#medium" data-toggle="tab">
                            <i class="material-icons">cloud</i>
                            Medium
                            <div class="ripple-container"></div></a>
                    </li>
                    <li class="">
                        <a href="#low" data-toggle="tab">
                            <i class="material-icons">low_priority</i>
                            Low
                            <div class="ripple-container"></div></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="card-content">
        <div class="tab-content">
            <div class="tab-pane active" id="high">
                <table class="table">
                    <tbody>
                        <tr *ngFor="let ticket of highPriorityTickets">

                            <td>{{ticket.summary}} <small><a routerLink="../tickets/{{ticket.ticket_id}}">
                                <br>TKT :{{ticket.ticket_id}}</a></small> </td>
                            <td class="td-actions text-right">
                                <a routerLink="../tickets/{{ticket.ticket_id}}/edit">
                                    <i class="material-icons">edit</i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td (click)="loadAllHighPriorityTickets();allHighPriorityTicketsModel.open()" style="cursor: pointer"><a>Show all</a></td>
                    </tr>
                    </tfoot>
                </table>
            </div>
            <div class="tab-pane " id="medium">
                <table class="table">
                    <tbody>
                    <tr *ngFor="let ticket of mediumPriorityTickets">

                        <td>{{ticket.summary}} <small><a routerLink="../tickets/{{ticket.ticket_id}}">
                            <br>TKT :{{ticket.ticket_id}}</a></small> </td>
                        <td class="td-actions text-right">
                            <a routerLink="../tickets/{{ticket.ticket_id}}/edit">
                                <i class="material-icons">edit</i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td (click)="loadAllMediumPriorityTickets();allMediumPriorityTicketsModel.open()" style="cursor: pointer"><a>Show all</a></td>
                    </tr>
                    </tfoot>
                </table>
            </div>

            <div class="tab-pane" id="low">
                <table class="table">
                    <tbody>
                    <tr *ngFor="let ticket of lowPriorityTickets">

                        <td>{{ticket.summary}} <small><a routerLink="../tickets/{{ticket.ticket_id}}">
                            <br>TKT :{{ticket.ticket_id}}</a></small> </td>
                        <td class="td-actions text-right">
                            <a routerLink="../tickets/{{ticket.ticket_id}}/edit">
                                <i class="material-icons">edit</i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td (click)="loadAllLowPriorityTickets();allLowPriorityTicketsModel.open()" style="cursor: pointer"><a>Show all</a></td>
                    </tr>
                    </tfoot>

                </table>
            </div>
        </div>
    </div>
</div>

<modal #allHighPriorityTicketsModel style="background-color: rgba(142, 157, 166, 0.39);">
    <modal-header [show-close]="true">
        <h4 class="modal-title"><b>Active High Priority Tickets</b>
            <a routerLink="../tickets">Go to tickets</a>

        </h4>

        <hr>
    </modal-header>
    <modal-body>
        <div class="row">
            <div class="col-xs-12">
                <table class="table">
                    <tbody>
                    <tr *ngFor="let ticket of allHighPriorityTickets">

                        <td>{{ticket.summary}} <small><a routerLink="../tickets/{{ticket.ticket_id}}">
                            <br>TKT :{{ticket.ticket_id}}</a></small> </td>
                        <td class="td-actions text-right">
                            <a routerLink="../tickets/{{ticket.ticket_id}}/edit">
                                <i class="material-icons">edit</i>
                            </a>
                        </td>
                    </tr>
                    </tbody>

                </table>
            </div>
        </div>


    </modal-body>
</modal>
<modal #allMediumPriorityTicketsModel style="background-color: rgba(142, 157, 166, 0.39);">
    <modal-header [show-close]="true">
        <h4 class="modal-title"><b>Active Medium Priority Tickets</b>
            <a routerLink="../tickets">Go to tickets</a>

        </h4>

        <hr>
    </modal-header>
    <modal-body>
        <div class="row">
            <div class="col-xs-12">
                <table class="table">
                    <tbody>
                    <tr *ngFor="let ticket of allMediumPriorityTickets">

                        <td>{{ticket.summary}} <small><a routerLink="../tickets/{{ticket.ticket_id}}">
                            <br>TKT :{{ticket.ticket_id}}</a></small> </td>
                        <td class="td-actions text-right">
                            <a routerLink="../tickets/{{ticket.ticket_id}}/edit">
                                <i class="material-icons">edit</i>
                            </a>
                        </td>
                    </tr>
                    </tbody>

                </table>
            </div>
        </div>


    </modal-body>
</modal>
<modal #allLowPriorityTicketsModel style="background-color: rgba(142, 157, 166, 0.39);">
    <modal-header [show-close]="true">
        <h4 class="modal-title"><b>Active Low Priority Tickets</b>
            <a routerLink="../tickets">Go to tickets</a>

        </h4>

        <hr>
    </modal-header>
    <modal-body>
        <div class="row">
            <div class="col-xs-12">
                <table class="table">
                    <tbody>
                    <tr *ngFor="let ticket of allLowPriorityTickets">

                        <td>{{ticket.summary}} <small><a routerLink="../tickets/{{ticket.ticket_id}}">
                            <br>TKT :{{ticket.ticket_id}}</a></small> </td>
                        <td class="td-actions text-right">
                            <a routerLink="../tickets/{{ticket.ticket_id}}/edit">
                                <i class="material-icons">edit</i>
                            </a>
                        </td>
                    </tr>
                    </tbody>

                </table>
            </div>
        </div>


    </modal-body>
</modal>

