.tickets-component{
    /*padding: 0 30px;*/
    margin-top: 50px;
}

.ticket-container{
    margin: 10px 0;
    background: white;
    padding: 5px 10px;
    border-radius: 10px;
}

.status-container{
    display: inline;
}

.status{
    display: inline-flex;
    color: white;
    width: 100px;
    margin: 5px 0 8px 5px;
    border-radius: 30px;
    background: rgba(140, 45, 175, 0.58);
    padding: 5px 10px;
    font-size: 15px;
    font-weight: 700;
    text-transform: capitalize;
}

.status>i{
    display: inline;
    margin: 0px 10px 0 -3px;
    /* border: 2px solid white; */
    border-radius: 20px;
    font-size: 20px;
    font-weight: 700;
}

.priority-red{
    background: rgba(255, 0, 0, 0.67);
}
.priority-green{
    background: #19a219;
}
.priority-yellow{
    background: #ff9900;
}

.problem-red{
    background: rgba(255, 0, 0, 0.67);
}
.problem-yellow{
    background: #ff9900;
}

.status-open{
    background: rgb(49, 112, 143);
}
.status-in_progress{
    background: #beff0a;
}
.status-to_be_discussed{
    background: #ff9900;
}
.status-fixed{
    background: #19a219;
}



/******************************************/