    <div class="row">

        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header" data-background-color="purple">
                    <h4 class="title" [hidden]="!editMode">{{title}} : <a routerLink="../clients/../../{{client.clientId}}">
                        {{client.company_name}}</a></h4>
                    <h4 class="title" [hidden]="editMode">TKT : {{id}} of client : <a routerLink="../../../clients/{{client.clientId}}">{{client.company_name}}</a> </h4>

                </div>
                <div class="card-content">
                    <form #ticketsForm="ngForm" (ngSubmit)="onSubmit(ticketsForm.value)">
                        <div class="row">
                            <!--company name-->
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group label-floating is-empty">
                                    <label class="control-label">{{client.company_name}}</label>
                                    <input type="text" class="form-control" disabled="" >
                                    <span class="material-input"></span></div>
                            </div>
                            <!--summary-->
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group label-floating is-empty">
                                    <label class="control-label" [hidden]="!editMode">Summary</label>
                                    <input type="test" class="form-control" required="true"
                                           [(ngModel)]="summary" name="summary" value="{{summary}}">
                                    <span class="material-input"></span></div>
                            </div>

                        </div>
                        <div class="row">
                            <!--select product-->
                            <div class="col-md-4 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label">Select product</label>
                                    <select class="form-control" id="product" required="true"
                                            [(ngModel)] = "selectedProductId" name="selectedProductId" (ngModelChange)="onProductChanged">
                                        <option selected disabled>Choose Product</option>
                                        <option *ngFor="let product of products" [value]="product.product_Id">{{product.name}}</option>
                                    </select>
                                </div>
                            </div>

                            <!--select branch-->
                            <div class="col-md-4 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label">Select branch</label>
                                    <select class="form-control" id="branch" required="true"
                                            [(ngModel)] = "selectedBranchId" name="selectedBranchId" (ngModelChange)="onBranchChanged">
                                        <option selected disabled>Choose Branch</option>
                                        <option *ngFor="let branch of branches" [value]="branch.branch_id">{{branch.name}}</option>
                                    </select>
                                </div>
                            </div>

                            <!--select till-->
                            <div class="col-md-4 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label">Select Till</label>
                                    <select class="form-control" id="till" required="true"
                                            [(ngModel)] = "selectedTillId" name="selectedTillId" >
                                        <option selected disabled>Choose Till</option>
                                        <option *ngFor="let till of ( tills | filterByBranchProducts:selectedProductId: selectedBranchId )" [value]="till.till_id" >{{till.till_name}}</option>
                                        <!--<option *ngFor="let till of tills " [value]="till.till_id" >{{till.till_name}}</option>-->
                                    </select>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <!--select problem type-->
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label">Select Problem Type</label>
                                    <select class="form-control" id="problemType" required="true"
                                            [(ngModel)] = "selectedProblemTypeId" name="selectedProblemType" >
                                        <option selected disabled>Choose Problem Type</option>
                                        <option *ngFor="let problemType of problemTypes" [value]="problemType.problem_type_id">{{problemType.problem_type_name}}</option>
                                    </select>
                                </div>
                            </div>

                            <!--select priority-->
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label">Select Priority</label>
                                    <select class="form-control" id="priority" required="true"
                                            [(ngModel)] = "selectedPriority" name="selectedPriority" >
                                        <option selected disabled>Choose Priority</option>
                                        <option *ngFor="let priority of priorities " [value]="priority.priority_id" >{{priority.priority_name}}</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">

                                    <div class="form-group label-floating is-empty">
                                        <textarea class="form-control " rows="5" required="true" [(ngModel)]="problemDescription"
                                                  name="description" maxlength="1000"  placeholder="Description"></textarea>

                                        <span class="material-input"></span></div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <!--Logo-->
                                <div class="form-group is-empty is-fileinput">
                                    <label for="logo">Screenshot</label>
                                    <input type="file" class="form-control" id="logo" name="logo" ngModel  accept="image/png,,image/jpeg" (change)="addAddScrenShot($event)">
                                    <input type="text" readonly="" name="screenshot" class="form-control">

                                </div>

                                <div class="col-md-6 col-xs-12" style="height: 100px">
                                    <!--Logo-->
                                        <img src="{{screenshotURL}}" alt="" [ngClass]="{'screenshot-preview': screenshotURL != '', 'hide': screenshotURL == ''}"/>
                                </div>

                            </div>

                            <div class="col-md-6 col-xs-12">
                                <!--developers-->
                                <div class="form-group">
                                    <label class="control-label">Select Assignee</label>
                                    <select class="form-control" id="assignee" required="true"
                                            [(ngModel)] = "selectedAssigneeId" name="selectedAssigneeId" >
                                        <option selected disabled>Choose Assignee</option>
                                        <option *ngFor="let asignee of asignees " [value]="asignee.id" >{{asignee.name}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6 col-xs-12">
                                <!--due date-->
                                <div class="form-group">
                                    <label class="control-label">Due date</label>
                                    <input type="date" class="form-control" [(ngModel)]="dueDate" name="expireDate" required="">
                                    <span class="material-input"></span>
                                </div>
                            </div>

                        </div>


                        <button type="submit" class="btn btn-primary pull-right">{{functionalaty}}<div class="ripple-container"></div></button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>

    </div>


